
.table-title{
  background: none repeat scroll 0 0 #186c89;
    padding: 20px;
	text-align:center;
    height: 51px;
    margin-bottom: 0;
    margin-left: 0px;
    margin-top: 187px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: auto;
	color:#FFFFFF;
	
	}
	.table-rows{
	background:#FFFFFF;
	padding: 20px;
    height: 56px;
    margin-bottom: 0;
    margin-left: 175px;
    margin-top: 187px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 576px;
	text-align:center;
	}
	
	div.scroll
{

width:500px;
height:70px;
overflow:scroll;
}


	 #titleData{
	     font-size: 25px;
    text-align: center;
    width: 160px;
	 }
	  .enrollButton
	  {
background-color: rgb(24, 108, 137);
    border: 0 solid silver;
    border-radius: 0px;
    font-family: verdana;
	text-align:center;
    height: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 41px;
    cursor:pointer;
	color:#FFFFFF;
	}
	.enrollButton :hover {
    background-color: rgb(11, 11, 11);
}
	 