body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   margin: 0;
   padding: 0;
}


a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}


.signupform_table
{
   background-color: #FFFFFF;
   border-color:#000000;
   border-width:1px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   text-align: left;
   border-spacing: 13px;
   width:479px;
   height:438px
}
.signupform_header
{
   background-color: rgb(24, 108, 137);
    color: #ffffff;
    text-align: center;
	 height: 48px;
}
.signupform_text
{
   background-color: #FFFFFF;
   border-color: #000000;
   border-width: 1px;
   border-style: solid;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
.signupform_button
{
	background-color: rgb(24, 108, 137);
	border-style: solid;
	border-width: 1px;
	color: #D6D6D6;
	font-family: Arial;
	height: 35px;
	margin-bottom: 0;
	padding-left: 6px;
	width: 87px;
	font-style: normal;
	font-weight: normal;
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#login{
	background-color: rgb(24, 108, 137);
	border-radius: 9px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-size: 30px;
	height: 122px;
	margin-bottom: 0;
	position: absolute;
	right: 294px;
	text-align: center;
	top: 358px;
	width: 180px;
}
 #wb_Signup2 {
  padding-left: 10px;
    padding-right: 0;
    width: 502px;
}
